<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.emcloud.dao.AllExceptionAndTimeVOMapper">

    <select id="getAllExceptionAndTimeByDay" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(warning_id) AS COUNT,LEFT(warning_time,10) AS TIME
        FROM
            (
            SELECT* FROM
            (SELECT * FROM `emdb_equipment_warning` WHERE warning_del_flag =0
            UNION ALL
            SELECT * FROM  `emdb_equipment_erro` WHERE erro_del_flag = 0   ) a
            UNION ALL
            SELECT * FROM  `emdb_equipment_emergency_warning` WHERE  emergency_del_flag =0

            ) a
        GROUP BY
            LEFT(warning_time,10)
    </select>
    <select id="getAllExceptionAndTimeByDay2" parameterType="java.lang.String" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(warning_id) AS COUNT,LEFT(warning_time,10) AS TIME
        FROM
            (
            SELECT* FROM
            (SELECT * FROM `emdb_equipment_warning` WHERE warning_del_flag =0 AND equipment_id IN (SELECT equipment_id FROM emdb_equipment WHERE company_id =  #{company_id})
            UNION ALL
            SELECT * FROM  `emdb_equipment_erro` WHERE erro_del_flag = 0 AND equipment_id IN (SELECT equipment_id FROM emdb_equipment WHERE company_id =  #{company_id}) ) a
            UNION ALL
            SELECT * FROM  `emdb_equipment_emergency_warning` WHERE  emergency_del_flag =0 AND equipment_id IN (SELECT equipment_id FROM emdb_equipment WHERE company_id =  #{company_id})
            ) a
        GROUP BY
            LEFT(warning_time,10)
    </select>

    <select id="getAllExceptionAndTimeByMonth" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(warning_id) AS COUNT,LEFT(warning_time,7) AS TIME  FROM
            (
            SELECT* FROM
            (SELECT * FROM `emdb_equipment_warning` where warning_del_flag =0
             UNION ALL SELECT * FROM  `emdb_equipment_erro` where erro_del_flag = 0) a
             UNION ALL SELECT * FROM  `emdb_equipment_emergency_warning` where  emergency_del_flag =0
            ) a
        GROUP BY
            LEFT(warning_time,7)
    </select>

    <select id="getAllExceptionAndTimeByMonth2" parameterType="java.lang.String" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(warning_id) AS COUNT,LEFT(warning_time,7) AS TIME
        FROM
            (
            SELECT* FROM
            (SELECT * FROM `emdb_equipment_warning` WHERE warning_del_flag =0 AND equipment_id IN (SELECT equipment_id FROM emdb_equipment WHERE company_id =  #{company_id})
            UNION ALL
            SELECT * FROM  `emdb_equipment_erro` WHERE erro_del_flag = 0 AND equipment_id IN (SELECT equipment_id FROM emdb_equipment WHERE company_id =  #{company_id}) ) a
            UNION ALL
            SELECT * FROM  `emdb_equipment_emergency_warning` WHERE  emergency_del_flag =0 AND equipment_id IN (SELECT equipment_id FROM emdb_equipment WHERE company_id =  #{company_id})
            ) a
        GROUP BY
            LEFT(warning_time,7)
    </select>

    <select id="getYUJINGByDay" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(warning_id) AS COUNT ,warning_time AS TIME
        FROM `emdb_equipment_warning`
        GROUP BY
            warning_time
    </select>

    <select id="getBAOJINGByDay" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(erro_id) AS COUNT ,erro_time AS TIME
        FROM `emdb_equipment_erro`
        GROUP BY
            erro_time
    </select>
    <select id="getJINJIJINGGAOByDay" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(emergency_warning_id) AS COUNT ,emergency_warning_time AS TIME
        FROM `emdb_equipment_emergency_warning`
        GROUP BY
            emergency_warning_time
    </select>

    <select id="getYUJINGByMonth" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(warning_id) AS COUNT ,LEFT(warning_time,7) AS TIME
        FROM `emdb_equipment_warning`
        GROUP BY
            LEFT(warning_time,7)
    </select>

    <select id="getBAOJINGByMonth" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(erro_id) AS COUNT ,LEFT(erro_time,7) AS TIME
        FROM `emdb_equipment_erro`
        GROUP BY
            LEFT(erro_time,7)
    </select>
    <select id="getJINJIJINGGAOByMonth" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT COUNT(emergency_warning_id) AS COUNT ,LEFT(emergency_warning_time,7) AS TIME
        FROM `emdb_equipment_emergency_warning`
        GROUP BY
            LEFT(emergency_warning_time,7)
    </select>

    <select id="getExceptionOfProductByDay" parameterType="java.lang.Integer" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT  COUNT(warning_id) as count ,LEFT(warning_time,10)  as time FROM
            (
                SELECT * FROM
                    (SELECT * FROM `emdb_equipment_warning` where warning_del_flag =0
                     UNION ALL SELECT * FROM  `emdb_equipment_erro` where erro_del_flag = 0) a
                      UNION ALL SELECT * FROM  `emdb_equipment_emergency_warning` where  emergency_del_flag =0
            ) b
        WHERE equipment_id IN
              (
                  SELECT equipment_id
                  FROM
                      `emdb_equipment`
                  WHERE product_id = #{product_id,jdbcType=INTEGER }
              )
        GROUP BY
            LEFT(warning_time,10)
    </select>
    <select id="getExceptionOfProductByDay2"   resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT  COUNT(warning_id) as count ,LEFT(warning_time,10)  as time FROM
            (
            SELECT * FROM
            (SELECT * FROM `emdb_equipment_warning` where warning_del_flag =0
            UNION ALL SELECT * FROM  `emdb_equipment_erro` where erro_del_flag = 0) a
            UNION ALL SELECT * FROM  `emdb_equipment_emergency_warning` where  emergency_del_flag =0
            ) b
        WHERE equipment_id IN
            (
            SELECT equipment_id
            FROM
            `emdb_equipment`
            WHERE product_id = #{product_id,jdbcType=INTEGER } and company_id = #{company_id}
            )
        GROUP BY
            LEFT(warning_time,10)
    </select>
    <select id="getExceptionOfProductByMonth" parameterType="java.lang.Integer" resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT  COUNT(warning_id) as count ,left(warning_time,7)  as time FROM
            (
            SELECT * FROM
            (SELECT * FROM `emdb_equipment_warning` where warning_del_flag =0
            UNION ALL SELECT * FROM  `emdb_equipment_erro`  where erro_del_flag = 0 ) a
             UNION ALL SELECT * FROM  `emdb_equipment_emergency_warning` where  emergency_del_flag =0
            ) b
        WHERE equipment_id IN
            (
            SELECT equipment_id
            FROM
            `emdb_equipment`
            WHERE product_id = #{product_id,jdbcType=INTEGER }
            )
        GROUP BY
            left(warning_time,7)
    </select>

    <select id="getExceptionOfProductByMonth2"  resultType="com.server.emcloud.vo.AllExceptionAndTimeVO">
        SELECT  COUNT(warning_id) as count ,left(warning_time,7)  as time FROM
            (
            SELECT * FROM
            (SELECT * FROM `emdb_equipment_warning` where warning_del_flag =0
            UNION ALL SELECT * FROM  `emdb_equipment_erro`  where erro_del_flag = 0 ) a
            UNION ALL SELECT * FROM  `emdb_equipment_emergency_warning` where  emergency_del_flag =0
            ) b
        WHERE equipment_id IN
            (
            SELECT equipment_id
            FROM
            `emdb_equipment`
            WHERE product_id = #{product_id,jdbcType=INTEGER } and company_id = #{company_id}
            )
        GROUP BY
            left(warning_time,7)
    </select>
</mapper>
