<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.emcloud.dao.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.server.emcloud.domain.Company" >
<!--        <id column="id" jdbcType="INTEGER" property="id"/>-->
        <result column="company_id" jdbcType="INTEGER" property="company_id"/>
        <result column="company_name" jdbcType="VARCHAR" property="company_name"/>
        <result column="company_type" jdbcType="VARCHAR" property="company_type"/>
        <result column="company_local" jdbcType="VARCHAR" property="company_local"/>
        <result column="company_comment" jdbcType="VARCHAR" property="company_comment"/>
    </resultMap>

    <select id="Base_Column_List">
        company_id,company_name,company_type,company_local,company_comment
    </select>

    <insert id="addCompany" parameterType="com.server.emcloud.domain.Company" >
        insert into emdb_company
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="company_name != null" >
                company_name,
            </if>
            <if test="company_type != null" >
                company_type,
            </if>
            <if test="company_local != null" >
                company_local,
            </if>
            <if test="company_comment != null" >
                company_comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="company_name != null" >
                #{company_name} ,
            </if>
            <if test="company_type != null" >
                #{company_type},
            </if>
            <if test="company_local != null" >
                #{company_local},
            </if>
            <if test="company_comment != null" >
                #{company_comment},
            </if>
        </trim>
    </insert>


    <select id="getAllCompany" resultMap="BaseResultMap">
        select *
        from `emdb_company`
    </select>



    <delete id="deleteCompanyOfCid" parameterType="java.lang.Integer" >
        delete from `emdb_company`
        where company_id = #{company_id,jdbcType=INTEGER};
    </delete>


    <update id="updateByPrimaryKeySelective" parameterType="com.server.emcloud.domain.Company">
        update emdb_company
        <set>
            <if test="company_name != null">
                company_name = #{company_name,jdbcType=VARCHAR},
            </if>
            <if test="company_type != null">
                company_type = #{company_type,jdbcType=VARCHAR},
            </if>
            <if test="company_local != null">
                company_local = #{company_local,jdbcType=VARCHAR},
            </if>
            <if test="company_comment != null">
                company_comment = #{company_comment,jdbcType=VARCHAR},
            </if>
        </set>
        where company_id = #{company_id,jdbcType=INTEGER}
    </update>


</mapper>