<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.emcloud.dao.EquipmentEmergencyMapper">
  <resultMap id="BaseResultMap" type="com.server.emcloud.domain.EquipmentEmergency">
    <id column="emergency_warning_id" jdbcType="INTEGER" property="emergency_warning_id" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipment_id" />
    <result column="emergency_warning_content" jdbcType="VARCHAR" property="emergency_warning_content" />
    <result column="emergency_warning_time" jdbcType="VARCHAR" property="emergency_warning_time" />
  </resultMap>


  <sql id="Base_Column_List">
    emergency_warning_id, equipment_id, emergency_warning_content, emergency_warning_time
  </sql>


  <select id="getEmergencyByCid" parameterType="java.lang.Integer" resultType="com.server.emcloud.vo.EquipmentEmergencyVO">
    SELECT a.equipment_number,b.product_name,w.*,d.salesman_name,a.sell_time
    FROM `emdb_equipment` a JOIN `emdb_product` b ON a.product_id=b.product_id
                          INNER JOIN `emdb_equipment_emergency_warning` w ON a.equipment_id=w.equipment_id
        JOIN `emdb_salesman` d ON a.salesman_id=d.salesman_id
    where a.company_id = #{company_id,jdbcType=INTEGER}
  </select>




</mapper>