<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.server.emcloud.dao.TaskNumInTimeVOMapper">
    <select id="getAllTaskNumInTimeByDay" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT et.task_end_time AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et
        GROUP BY et.task_end_time
    </select>
    <select id="getAllTaskNumInTimeByDay2" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT et.task_end_time AS TIME, COUNT(et.task_id) AS COUNT
        FROM emdb_equipment_task AS et, emdb_equipment AS e
        WHERE et.equipment_id = e.equipment_id AND e.company_id = #{company_id, jdbcType=INTEGER}
        GROUP BY et.task_end_time
    </select>

    <select id="getAllTaskNumInTimeByMouth" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT LEFT(et.task_end_time,7) AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et
        GROUP BY LEFT(et.task_end_time,7)
    </select>

    <select id="getAllTaskNumInTimeByMouth2" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT LEFT(et.task_end_time,7) AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e
        WHERE et.equipment_id = e.equipment_id AND e.company_id = #{company_id, jdbcType=INTEGER}
        GROUP BY LEFT(et.task_end_time,7)
    </select>

    <select id="getProductTypeHasTask" resultType="Integer">
        SELECT DISTINCT p.product_type_id AS productTypeID
        FROM emdb_equipment_task AS et, emdb_equipment AS e, emdb_product AS p
        WHERE et.equipment_id = e.equipment_id AND e.product_id = p.product_id
    </select>

    <select id="getAllProductTypeId" resultType="Integer">
        SELECT product_type_id
        FROM emdb_product_type
    </select>


    <select id="getProductNameById" resultType="String">
        SELECT product_type_name
        FROM emdb_product_type
        WHERE product_type_id = #{product_type_id, jdbcType=INTEGER}
    </select>


    <select id="getProductTypeTaskNumInTimeByIdByDay" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT et.task_end_time AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e, emdb_product AS p
        WHERE et.equipment_id = e.equipment_id AND e.product_id = p.product_id AND p.product_type_id = #{productTypeId, jdbcType=INTEGER}
        GROUP BY et.task_end_time
    </select>

    <select id="getProductTypeTaskNumInTimeByIdByDay2" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT et.task_end_time AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e, emdb_product AS p
        WHERE et.equipment_id = e.equipment_id AND e.product_id = p.product_id AND e.company_id = #{company_id, jdbcType=INTEGER} AND p.product_type_id = #{productTypeId, jdbcType=INTEGER}
        GROUP BY et.task_end_time
    </select>

    <select id="getProductTypeTaskNumInTimeByIdByMouth" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT LEFT(et.task_end_time,7) AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e, emdb_product AS p
        WHERE et.equipment_id = e.equipment_id AND e.product_id = p.product_id AND p.product_type_id = #{productTypeId, jdbcType=INTEGER}
        GROUP BY LEFT(et.task_end_time,7)
    </select>

    <select id="getProductTypeTaskNumInTimeByIdByMouth2" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT LEFT(et.task_end_time,7) AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e, emdb_product AS p
        WHERE et.equipment_id = e.equipment_id AND e.product_id = p.product_id AND e.company_id = #{company_id, jdbcType=INTEGER} AND p.product_type_id = #{productTypeId, jdbcType=INTEGER}
        GROUP BY LEFT(et.task_end_time,7)
    </select>


    <select id="getProductTaskNumInTimeByPidByDay" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT et.task_end_time AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e
        WHERE et.equipment_id = e.equipment_id AND e.product_id = #{productID, jdbcType=INTEGER}
        GROUP BY et.task_end_time
    </select>

    <select id="getProductTaskNumInTimeByPidByDay2" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT et.task_end_time AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e
        WHERE et.equipment_id = e.equipment_id AND e.product_id = #{productId, jdbcType=INTEGER} AND e.company_id = #{company_id, jdbcType=INTEGER}
        GROUP BY et.task_end_time
    </select>

    <select id="getProductTaskNumInTimeByPidByMouth" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT LEFT(et.task_end_time,7) AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e
        WHERE et.equipment_id = e.equipment_id AND e.product_id = #{productId, jdbcType=INTEGER}
        GROUP BY LEFT(et.task_end_time,7)
    </select>

    <select id="getProductTaskNumInTimeByPidByMouth2" resultType="com.server.emcloud.vo.TaskNumInTimeVO">
        SELECT LEFT(et.task_end_time,7) AS time, COUNT(et.task_id) AS count
        FROM emdb_equipment_task AS et, emdb_equipment AS e
        WHERE et.equipment_id = e.equipment_id AND e.product_id = #{productId, jdbcType=INTEGER} AND e.company_id = #{company_id, jdbcType=INTEGER}
        GROUP BY LEFT(et.task_end_time,7)
    </select>

</mapper>